<h1>Editing Schedule</h1>

<%= render 'form', schedule: @schedule %>

<%= link_to '<button class="btn btn-link" type="button">Show</button>'.html_safe, @schedule %> |
<%= link_to '<button class="btn btn-link" type="button">Back</button>'.html_safe, schedules_path %>
