<h1>Editing Speaker</h1>

<%= render 'form', speaker: @speaker %>

<%= link_to '<button class="btn btn-link" type="button">Show</button>'.html_safe, @speaker %> |
<%= link_to '<button class="btn btn-link" type="button">Back</button>'.html_safe, speakers_path %>
